body{
    margin-left: auto;
    margin-right: auto;
}

.moyenne{
    font-size: 16px;
    color: black;
}

#logo{
    margin-bottom: 5px;
    width: 350px;
}

#saga-image{
    margin-top: 10px;
    max-height: 10vh; /* hauteur max = 40% de la hauteur de la fenêtre */
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chapter-read, .moyenne, .saga_arc {
    margin-top: 5px;
    margin-bottom: 5px;
}